.separator {
    color: grey;
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgb(175, 175, 175);
}
.separator::before {
    margin-right: 0.25em;
}
.separator::after {
    margin-left: 0.25em;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    box-shadow: 5px 10px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#input_container {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 20px;
    background: #ddd;
    direction: rtl;
    width: 200px;
}
#input {
    height: 20px;
    margin: 0;
    padding-right: 30px;
    width: 100%;
}
#input_img {
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 24px;
    height: 24px;
}

input {
    text-align: center;
}
